/ECommerceApi/ECommerceApi/bin
/ECommerceApi/ECommerceApi/obj
/ECommerceApi/ECommerceApi/packages
/ECommerceApi/ECommerceLibrary/obj
/ECommerceApi/ECommerceLibrary/bin
/ECommerceApi/ECommerceModels/obj
/ECommerceApi/ECommerceModels/bin
