/ECommerceApi/ECommerceApi/bin
/ECommerceApi/ECommerceApi/obj
/ECommerceApi/ECommerceApi/packages
/ECommerceApi/ECommerceLibrary/obj
/ECommerceApi/ECommerceLibrary/bin
/ECommerceApi/ECommerceModels/obj
/ECommerceApi/ECommerceModels/bin
ECommerceApi/ECommerceApi/.vs/ECommerceApi/v15/.suo
ECommerceApi/ECommerceApi/.vs/config/applicationhost.config
ECommerceApi/ECommerceApi/.vs/ECommerceApi/v15/Server/sqlite3/db.lock
ECommerceApi/ECommerceApi/.vs/ECommerceApi/v15/Server/sqlite3/storage.ide
ECommerceApi/ECommerceApi/.vs/ECommerceApi/v15/Server/sqlite3/storage.ide-shm
ECommerceApi/ECommerceApi/.vs/ECommerceApi/v15/Server/sqlite3/storage.ide-wal
